.link {
  font-style: normal;
  font-weight: normal;
  font-size: $f14px;
  line-height: $f20px;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.link-grey {
  color: $gray;
}

.link-blue {
  color: #2F70BE;
}