.dots-outer {
  ul {
    padding: 0;
  }
  position: absolute;
  top: 330px;
  display: inline-block;
  text-align: center;
  width: $f30px;
  right: 0;
  z-index: 9;

  li {
    display: block;
    margin-top: $f15px;
    margin-bottom: $f15px;
    button {
      font-size: 0;
      outline: none;
      border-radius: 100%;
      width: $dot-width;
      height: $dot-height;
      padding: 0;
      border: 1px solid $color-dot;
      background: $color-dot;
    }

    &.slick-active {
      button {
        font-size: $f14px;
        line-height: $f13px;
        text-align: center;
        letter-spacing: 0.02em;
        color: $black;
        border-radius: 100%;
        background: $cyan;
        padding: $f8px;
        width: $f30px;
        height: $f30px;
      }
    }
  }
}

.dot-line {
  border-top: 2px solid $color-dot;
  border-right: 2px solid $color-dot;
  height: $f16px;
  width: $f16px;
  display: block;
  position: absolute;

  &.prev {
    transform: rotate(-45deg);
    top: -$f30px;
    right: -$f8px;
  }
  &.next {
    transform: rotate(135deg);
    bottom: -$f30px;
    right: $f6px;
  }
}

.dots-grey .slick-dots  li {
  button {
    border: 1px solid $color-dot-grey;
  }
  &.slick-active {
    button {
      background: $color-dot-grey;
    }
  }

}


.slider {
  .slide-item {
    padding-left: 0;
    padding-right: 0;

    .img {
      height: 800px;
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
      width: 100% !important;
      position: relative;

      .slide-caption {
        position: absolute;
        top: 245px;
        width: 100%;
        left: 0;

        h3 {
          font-size: $f55px;
          font-weight: bold;
          line-height: $f74px;
          color: #232323;
        }

        p {
          font-size: $f20px;
          line-height: $f25px;
        }
      }
    }

  }
}





.slick-disabled {
  opacity: 0.5;
}

.slide-v1 {
  display: none;
}

.slide-v1:first-child {
  display: block;
}

.slick-initialized.slick-slider .slick-slide,
.slick-initialized.slick-slider .slick-slide:first-child {
  display: block;
}
.dots {
  position: relative;
}

@include media-breakpoint-down(lg) {
  .dots {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .dots-outer {
    bottom: $f50px;
    top: initial;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;

    ul {
      li {
        display: inline-block;
        margin: 0 $f7px;
        button {
          width: $f16px!important;
          height: $f16px!important;
          border: 1px solid $color-dot;
          background: none;

        }
        &.slick-active {
          button {
            line-height: initial;
            font-size: 0;
            border: 1px solid $cyan;
            background: $cyan;
          }
        }
      }
    }
  }

  .slider {
    .slide-item {
      .img {
        height: 545px;

        .slide-caption {
          top: 114px;

          h3 {
            font-size: $f28px;
            line-height: $f34px;
          }

          p {
            font-size: $f16px;
            line-height: $f19px;
          }
        }
      }
    }
  }

  .slick-dots {
    width: 100%;
    right: initial;
    margin-right: 0;
    text-align: center;
  }
  .dots-bottom .slick-dots {
    position: initial;
    margin-top: $f30px;
  }
}

@include media-breakpoint-down(md) {
  .slider {
    .slide-item {
      .img {
        .slide-caption {
          width: 80%;
        }
      }
    }
  }
}